@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    background-color: #0A0A0B;
    color: #F5F5F7;
  }
}

@layer utilities {
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
